.body_container {
  margin: 0px 100px;
  .news_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr) 300px;
    grid-template-rows: 300px 600px;
    grid-template-areas:
      "ln ln sn sa"
      "lc lc lc rc";
    height: 100%;
    gap: 2px;
    word-wrap: break-word;
    word-break: break-all;
  }

  .lead_news {
    display: grid;
    width: 100%;
    // grid-column: 1 / 3;
    grid-area: ln;
    grid-template-columns: 1fr 1fr;
    background-color: #ee4023;
  }

  .second_news {
    width: 100%;
    grid-area: sn;
    background-color: #7e6c69;
  }

  .side_ad {
    width: 100%;
    grid-area: sa;
    background-color: rgb(71, 192, 176);
  }

  .left_column {
    grid-area: lc;
    background-color: rgb(228, 114, 61);
  }

  .right_column {
    grid-area: rc;
    background-color: rgb(74, 83, 219);
  }

  .ad_container {
    background-color: aqua;
    width: 100%;
    height: 250px;
  }
}
