$background-color: rgb(255, 255, 255);
$hover-color: #0573e6;
$sup-title-color: #d60000;
$hr-color: rgb(238, 237, 237);
$title-color: rgb(34, 34, 34);
$title-hover-color: #3d73e6;
$font-family: "SolaimanLipi", "Siyam Rupali", "Roboto", "Arial", "Helvetica",
  "Monospace";
$lead-title-font-size: 2rem;
$lead-title-font-weight: 500;
$title-font-size: 1.1rem;
$title-font-weight: 600;
$sup-title-color: #d60000;
$description-color: #757575;
$description-font-size: 0.9rem;
$time-font-size: 0.75rem;
$footer-text-color: rgb(158, 158, 158);
$footer-font-size: 0.9rem;
