@import "../../styles/Variables";

.footer_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  width: 100%;
  color: $footer-text-color;
  font-size: $footer-font-size;
}
