@import "../../styles/Variables";

.nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  width: 100%;
  border-bottom: 2px solid $hr-color;
  padding: 10px;

  .logo {
    width: 260px;
  }

  .hr {
    height: 2px;
  }

  @media screen and (max-width: 876px) {
    .logo {
      width: 30%;
    }
  }
}
